<header>
  <form method="get" action="#" class="search_container">
  <input type="text" size="25" placeholder="キーワード検索">
  <i class="fa fa-search search-icon"><input type="submit" value="&#xf002"></i>
  </form>
  <i class="fa fa-bookmark book-icon"></i>
</header>
<div class='content-center'>
  <div class='tabs'>
    <div class='tab-buttons'>
      <span class='content1'>S1</span>
      <span class='content2'>S2</span>
      <span class='content3'>OJT</span>
      <div id='lamp' class='content1'></div>
    </div>
    <div class='tab-content'>
      
      <div id="tab1" class='content1'>This is the content of 1 container.This will be open when button 1 is clicked.This is the content of 1 container.This will be open when button 1 is clicked.This is the content of 1 container.This will be open when button 1 is clicked.</div>
      <div id="tab2" class='content2'>This is the content of 2 container.This will be open when button 2 is clicked.This is the content of 2 container.This will be open when button 2 is clicked.This is the content of 2 container.This will be open when button 2 is clicked.</div>
      <div id="tab3" class='content3'>This is the content of 3 container.This will be open when button 3 is clicked.This is the content of 3 container.This will be open when button 3 is clicked.This is the content of 3 container.This will be open when button 3 is clicked.</div>
      
    </div>
  </div>
</div>
