// 全体

body {
    background-image: url(dmm.png);
}
* {
    font-family: "M PLUS 1p", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // ボタンのデフォルトを打ち消す
    -webkit-appearance: none;
}
a {
    text-decoration: none;
}

// header

header {
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.774);
    position: fixed;
    top: 0;
    z-index: 1;
}

// 検索

.search_container {
    box-sizing: border-box;
    text-align: left;
    padding: 18px 0 0 25px;

    & input[type="text"] {
        border: 1px solid rgb(113, 113, 113);
        padding: 3px 18px;
        border-radius: 14px;
        height: 25px;
        width: 250px;
        outline: none;
        position: relative;
        box-sizing: content-box;
    }

    & input[type="submit"] {
        position: absolute;
        left: -15px;
        cursor: pointer;
        opacity: 0;
    }
}

.search-icon {
    position: absolute;
    top: 25px;
    left: 285px;
    cursor: pointer;
}

// headerの右側

.header_right {
    cursor: pointer;
}

// ブックリスト

.book-icon {
    position: absolute;
    top: 15px;
    right: 40px;
}

.book-icon-list {
    font-size: 10px;
    position: absolute;
    top: 48px;
    right: 31px;
    color: grey;
}

// 作成

.create-icon-list {
    font-size: 8px;
    color: grey;
    text-align: center;
    display: block;
}

// 作成のプルダウン
#gnav > ul {
    > li {
        display: table-cell;
        &:hover {
            > a {
                color: rgb(244, 8, 8);
            }
            .menu {
                transition: max-height 1s ease;
                max-height: 999px;
            }
        }
        > a {
            // 作成のアイコン部分(鉛筆)
            display: inline-block;
            position: absolute;
            top: 15px;
            right: 110px;
        }
    }
    .menu {
        // プルダウンした時の部分
        transition: max-height 0.4s ease;
        max-height: 0;
        overflow: hidden; // はみ出た部分を非表示にする
        position: absolute;
        width: 110px;
        top: 67px;
        right: 74px;
        font-size: 12px;
        text-align: center;
        border-radius: 3px;
        background-color: #fff;
        .menu_inner {
            padding: 5px 0;
            li {
                display: inline-block;
            }
        }
        a {
            color: #a4a4a4d7;
        }
        ul:hover {
            background-color: rgba(187, 187, 187, 0.571);
            a {
                color: #fff;
            }
        }
    }
}

// content

.page_content {
    margin-top: 140px;
}

.content-center {
    display: flex;
    justify-content: space-between;
}

// タグリスト

table {
    border-collapse: collapse;
    width: 250px;
}
.side-bar {
    border: 1px rgba(194, 194, 194, 0.808) solid;
    margin: 0 30px;
}
.tag-list {
    border-bottom: 2px solid #959595;
    padding: 8px;
    color: rgb(128, 128, 128);
    background-color: rgba(255, 255, 255, 0.794);
    letter-spacing: 1px;
    font-size: 18px;
}
.tag-name {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.609);
    color: rgb(100, 100, 100);
    display: block;
    padding: 4px;
    border-bottom: 1px solid rgba(182, 182, 182, 0.746);
}

.tag-text_name {
    font-size: 12px;
    color: grey;
}

// linkのスライドタブ

.tabs {
    width: 80%;
    position: relative;
}
.tab-buttons span {
    color: rgb(92, 92, 92);
    background-color: rgba(255, 255, 255, 0.824);
    border-bottom: 2px solid #ddd;
    display: block;
    width: 33.3%;
    float: left;
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.tab-content {
    padding: 15px;
    // display:inline-block;
    font: 400 13px "open sans", sans-serif;
    color: #333;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.555);
}
#tab1 {
    margin-top: 46px;
}

.lock_icon {
    display: block;
    margin: 0 0 auto 30px;
}

// linkのスライドタブのbox

.link-box {
    margin: 20px 10px;
    display: inline-block;
    width: 340px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid rgba(176, 176, 176, 0.454);
    background-color: #fff;
    box-shadow: 2px 2px 4px gray;
    cursor: pointer;
}
.link-img {
    display: block;
    margin: 20px auto;
}
.link-title {
    margin-top: 5px;
    font-family: "M PLUS 1p", sans-serif;
    text-align: center;
    color: rgb(121, 121, 121);
}

// editのアイコン

.icon_button {
    text-align: right;
    margin: 5px 18px 0 0;
    font-size: 18px;
    a {
        color: rgb(136, 136, 136);
    }
}

.book-mark-icon {
    color: rgb(250, 108, 108);
}
// inkのスライドタブの下のアンダーバー

#lamp {
    width: 33.3%;
    height: 2px;
    background: rgb(157, 157, 157);
    display: block;
    position: absolute;
    top: 40px;
    // 動きを滑らかにするゆっくり始まる
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}
#lamp.content1 {
    left: 0;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}
#lamp.content2 {
    left: 33.3%;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}
#lamp.content3 {
    left: 66.6%;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

// ゴミ箱のアイコン
.trash-box {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    position: fixed;
    background-image: image-url("stash1.png");
    background-size: cover;
    background-position: bottom;
    width: 63px;
    height: 80px;
}
.move-trash {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    position: fixed;
    background-image: image-url("stash.png");
    background-size: cover;
    background-position: bottom;
    height: 97px;
    width: 63px;
}
.blue_box {
    border: 1px solid rgba(143, 143, 143, 0.618);
    background-color: rgba(255, 255, 255, 0.516);
    width: 780px;
    margin: 100px auto 10px;
    padding: 25px;
}
